.recentlyPlayedSongContainer {
  h3 {
    font-weight: 700;
    font-size: 1.2rem;
  }

  p:first-child {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

.songTrackContainer {
  display: flex;
  width: 300px;
  justify-content: flex-start;

  img {
    width: 56px;
    height: 56px;
    margin-right: 0.75rem;
  }

  p {
    color: grey;
  }
}
